
  <!DOCTYPE html>
<html>
<head>
<title>weather app</title>
</head>
<body>
    <form action="/getweatherdata" method="post">
        <label for="place"> location :  </label>
      <input type="text" id="place" name="location" placeholder="enter your location">
         <input type="submit" value="Submit">
      </form>

</body>


</html>